[submodule ".config/lvim"]
	path = .config/lvim
	url = git@github.com:kokardy/config-lvim
  ignore = dirty
  branch = master
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:kokardy/config-nvim
  ignore = dirty
  branch = main
