extends oil

# Shebang
snippet layer layered architecture directories
  core/logger/__init__.py
  core/logger/logger.py
  core/env.py
  domain/repository/
  domain/model/
  infrastructure/model/
  usecase/command/
  usecase/query_service/
  presentation/router/
  presentation/schema/
